.arkb-inline-centered {
  align-items: center;
  display: flex;
}

.arkb-icon {
  width:24px;
  height:24px;
  margin-right: 4px;
}

.arkb-icon-sm {
  width:20px;
  height:20px;
  margin-left: 4px;
  color: #9c0006;
}

.arkb-card-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arkb-green {
  color: #006100;
  background: #c6efce;
}

.arkb-red {
  color: #9c0006;
  background: #ffc7ce;
}
