<div *ngIf="participant.experimentStatus">
  <div class="arkb-card-titlebar">
    <div class="arkb-card-title">
      <mat-card-title>{{participant.experimentStatus.deviceName | truncate : 25}}</mat-card-title>
    </div>
    <mat-chip-list>
      <div class="arkb-card-title-chip">
        <mat-chip *ngIf="participant.experimentStatus.needsHelp" class="arkb-red">Help Needed</mat-chip>
        <mat-chip *ngIf="participant.online" class="arkb-green">Online</mat-chip>
        <mat-chip *ngIf="!participant.online" class="arkb-red">Offline</mat-chip>
        <button *ngIf="!participant.online" mat-icon-button (click)="closeParticipant()">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor"
                  d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"/>
          </svg>
        </button>
      </div>
    </mat-chip-list>
  </div>
  <mat-card-subtitle>
    <div class="arkb-inline-centered">
      <svg class="arkb-icon" viewBox="0 0 24 24">
        <path fill="currentColor"
              d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"/>
      </svg>
      {{participant.participantId}}
    </div>
  </mat-card-subtitle>
  <mat-card-content>
    <div class="arkb-inline-centered">
      <svg class="arkb-icon" viewBox="0 0 24 24">
        <path fill="currentColor"
              d="M10.11,17H7.5L2.59,12L7.5,7H10.11L11.42,4.74L18.21,3L20.08,9.74L18.77,12L20.08,14.26L18.21,21L11.42,19.26L10.11,17M10.25,16.75L15.38,18.13L12.42,13H6.5L10.25,16.75M17.12,17.13L18.5,12L17.12,6.87L14.15,12L17.12,17.13M10.25,7.25L6.5,11H12.42L15.38,5.87L10.25,7.25Z"/>
      </svg>
      <div>
        {{participant.experimentStatus.scene}}
        | {{participant.experimentStatus.timeInCurrentSceneInSeconds | number: '1.0-0'}} s
        | {{participant.experimentStatus.fps | number: '1.0-0'}} fps
      </div>
    </div>

    <div class="arkb-inline-centered">
      <svg class="arkb-icon" viewBox="0 0 24 24">
        <path fill="currentColor"
              d="M12,8C12,8 22,8 22,11C22,11 22.09,14.36 21.75,14.25C21,11 12,11 12,11C12,11 3,11 2.25,14.25C1.91,14.36 2,11 2,11C2,8 12,8 12,8M12,12C20,12 20.75,14.25 20.75,14.25C19.75,17.25 19,18 15,18C12,18 13,16.5 12,16.5C11,16.5 12,18 9,18C5,18 4.25,17.25 3.25,14.25C3.25,14.25 4,12 12,12Z"/>
      </svg>
      <div class="arkb-inline-centered">
        {{participant.experimentStatus.deviceIp}}
        <div *ngIf="participant && participant.experimentStatus && participant.experimentStatus.deviceModel">
          &nbsp;| {{participant.experimentStatus.deviceModel.substring(0, participant.experimentStatus.deviceModel.indexOf('(') - 1) | truncate : 50 : false}}</div>
        <div
          *ngIf="participant.experimentStatus.deviceBatteryLevel && participant.experimentStatus.deviceBatteryLevel > 0">
          &nbsp;| {{participant.experimentStatus.deviceBatteryLevel * 100 | number: '1.2-2'}} %
          ({{participant.experimentStatus.deviceBatteryStatus}})
        </div>
        <div
          *ngIf="participant.experimentStatus.deviceBatteryLevel && participant.experimentStatus.deviceBatteryLevel < .3 && participant.experimentStatus.deviceBatteryStatus && participant.experimentStatus.deviceBatteryStatus !== 'Charging'">
          <svg class="arkb-icon-sm" viewBox="0 0 24 24">
            <path fill="currentColor"
                  d="M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M13,17H11V15H13V17M13,13H11V7H13V13Z"/>
          </svg>
        </div>
      </div>
      <div>

      </div>
    </div>

    <mat-card-actions align="end" style="margin-bottom: 0; margin-top: 16px" *ngIf="participant && participant.experimentStatus && participant.experimentStatus.deviceModel && participant.experimentStatus.deviceModel.startsWith('HoloLens')">
      <button mat-raised-button (click)="openDevicePortal()">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor"
                d="M18 14.5C19.1 14.5 20.1 14.9 20.8 15.7L22 14.5V18.5H18L19.8 16.7C19.3 16.3 18.7 16 18 16C16.6 16 15.5 17.1 15.5 18.5S16.6 21 18 21C18.8 21 19.5 20.6 20 20H21.7C21.1 21.5 19.7 22.5 18 22.5C15.8 22.5 14 20.7 14 18.5S15.8 14.5 18 14.5M11.7 20H11.3L10.9 17.4C9.7 17.2 8.7 16.5 7.9 15.6L5.5 16.6L4.7 15.3L6.8 13.7C6.4 12.5 6.4 11.3 6.8 10.1L4.7 8.7L5.5 7.4L7.9 8.4C8.7 7.5 9.7 6.9 10.9 6.6L11.2 4H12.7L13.1 6.6C14.3 6.8 15.4 7.5 16.1 8.4L18.5 7.4L19.3 8.7L17.2 10.2C17.4 10.8 17.5 11.4 17.5 12H18C18.5 12 19 12.1 19.5 12.2V12L19.4 11L21.5 9.4C21.7 9.2 21.7 9 21.6 8.8L19.6 5.3C19.5 5 19.3 5 19 5L16.5 6C16 5.6 15.4 5.3 14.8 5L14.4 2.3C14.5 2.2 14.2 2 14 2H10C9.8 2 9.5 2.2 9.5 2.4L9.1 5.1C8.5 5.3 8 5.7 7.4 6L5 5C4.7 5 4.5 5 4.3 5.3L2.3 8.8C2.2 9 2.3 9.2 2.5 9.4L4.6 11L4.5 12L4.6 13L2.5 14.7C2.3 14.9 2.3 15.1 2.4 15.3L4.4 18.8C4.5 19 4.7 19 5 19L7.5 18C8 18.4 8.6 18.7 9.2 19L9.6 21.7C9.6 21.9 9.8 22.1 10.1 22.1H12.6C12.1 21.4 11.9 20.7 11.7 20M16 12.3V12C16 9.8 14.2 8 12 8S8 9.8 8 12C8 14.2 9.8 16 12 16C12.7 14.3 14.2 12.9 16 12.3M10 12C10 10.9 10.9 10 12 10S14 10.9 14 12 13.1 14 12 14 10 13.1 10 12Z"/>
        </svg>
        Windows Device Portal
      </button>
    </mat-card-actions>
  </mat-card-content>
</div>
