<div>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div><p style="height: 1px;">&nbsp;</p></div>
    <div><h3>Scene Management</h3></div>
    <div class="arkb-scene-selection">
      <!-- Previous scene -->
      <div *ngIf="participant && participant.experimentStatus && participant.experimentStatus.sceneNames">
        <button class="arkb-scene" mat-raised-button (click)="loadPreviousScene()"
                *ngIf="!loading && participant.experimentStatus.scene !== participant.experimentStatus.sceneNames[0]">
          <svg style="width:24px;height:24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>
            skip-previous</title>
            <path fill="currentColor" d="M6,18V6H8V18H6M9.5,12L18,6V18L9.5,12Z"/>
          </svg>
          Prior scene
        </button>
        <button class="arkb-scene" mat-raised-button (click)="loadPreviousScene()"
                *ngIf="loading || participant.experimentStatus.scene === participant.experimentStatus.sceneNames[0]"
                disabled>
          <svg style="width:24px;height:24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>
            skip-previous</title>
            <path fill="currentColor" d="M6,18V6H8V18H6M9.5,12L18,6V18L9.5,12Z"/>
          </svg>
          Prior scene
        </button>
      </div>

      <!-- Reload scene -->
      <div *ngIf="participant && participant.experimentStatus && participant.experimentStatus.sceneNames">
        <button class="arkb-scene" mat-raised-button (click)="reloadScene()"
                *ngIf="!loading">
          <svg style="width:24px;height:24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="currentColor"
                  d="M2 12C2 16.97 6.03 21 11 21C13.39 21 15.68 20.06 17.4 18.4L15.9 16.9C14.63 18.25 12.86 19 11 19C4.76 19 1.64 11.46 6.05 7.05C10.46 2.64 18 5.77 18 12H15L19 16H19.1L23 12H20C20 7.03 15.97 3 11 3C6.03 3 2 7.03 2 12Z"/>
          </svg>
          Reload scene
        </button>
        <button class="arkb-scene" mat-raised-button (click)="reloadScene()"
                *ngIf="loading"
                disabled>
          <svg style="width:24px;height:24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="currentColor"
                  d="M2 12C2 16.97 6.03 21 11 21C13.39 21 15.68 20.06 17.4 18.4L15.9 16.9C14.63 18.25 12.86 19 11 19C4.76 19 1.64 11.46 6.05 7.05C10.46 2.64 18 5.77 18 12H15L19 16H19.1L23 12H20C20 7.03 15.97 3 11 3C6.03 3 2 7.03 2 12Z"/>
          </svg>
          Reload scene
        </button>
      </div>

      <!-- Next scene -->
      <div *ngIf="participant && participant.experimentStatus && participant.experimentStatus.sceneNames">
        <button class="arkb-scene" mat-raised-button (click)="loadNextScene()"
                *ngIf="!loading && participant.experimentStatus.scene !== participant.experimentStatus.sceneNames[participant.experimentStatus.sceneNames.length - 1]">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M16,18H18V6H16M6,18L14.5,12L6,6V18Z"/>
          </svg>
          Next scene
        </button>
        <button class="arkb-scene" mat-raised-button (click)="loadNextScene()"
                *ngIf="loading || participant.experimentStatus.scene === participant.experimentStatus.sceneNames[participant.experimentStatus.sceneNames.length - 1]"
                disabled>
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M16,18H18V6H16M6,18L14.5,12L6,6V18Z"/>
          </svg>
          Next scene
        </button>
      </div>
    </div>

    <!-- Scenes -->
    <div
      *ngIf="participant && participant.experimentStatus && participant.experimentStatus.sceneNames && participant.experimentStatus.sceneNames.length > 0">
      <form class="arkb-form">
        <div class="arkb-scene-selection" *ngIf="participant.experimentStatus.sceneNames.length <= 5">
          <div *ngFor="let sceneOption of participant.experimentStatus.sceneNames">
            <button class="arkb-scene" mat-raised-button
                    (click)="loadScene(sceneOption)">
              <svg class="arkb-icon" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M10.11,17H7.5L2.59,12L7.5,7H10.11L11.42,4.74L18.21,3L20.08,9.74L18.77,12L20.08,14.26L18.21,21L11.42,19.26L10.11,17M10.25,16.75L15.38,18.13L12.42,13H6.5L10.25,16.75M17.12,17.13L18.5,12L17.12,6.87L14.15,12L17.12,17.13M10.25,7.25L6.5,11H12.42L15.38,5.87L10.25,7.25Z"/>
              </svg>
              {{sceneOption}}
            </button>
          </div>
        </div>

        <mat-form-field class="arkb-row" appearance="fill"
                        *ngIf="participant.experimentStatus.sceneNames.length > 5 && !loading">
          <mat-label *ngIf="!loading">Select scene to load</mat-label>
          <mat-select placeholder="Survey" name="sceneInput" [(ngModel)]="sceneInput">
            <div *ngFor="let sceneOption of participant.experimentStatus.sceneNames">
              <mat-option value="{{sceneOption}}">{{sceneOption}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="arkb-row" appearance="fill"
                        *ngIf="participant.experimentStatus.sceneNames.length > 5 && loading">
          <mat-label *ngIf="loading">Loading scene...</mat-label>
          <mat-select placeholder="Survey" name="sceneInput" [(ngModel)]="sceneInput" *ngIf="loading" disabled>
          </mat-select>

        </mat-form-field>

        <button class="arkb-submit" mat-raised-button (click)="loadScene(sceneInput)"
                *ngIf="sceneInput.length > 0 && !loading">Load
        </button>
        <button class="arkb-submit" mat-raised-button (click)="loadScene(sceneInput)" disabled
                *ngIf="sceneInput.length > 0 && loading">...
        </button>
      </form>
    </div>

  </mat-card-content>

  <mat-card-footer>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  </mat-card-footer>
</div>
