.arkb-scene-selection {
  display: flex;
  column-gap: 8px;
  row-gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 24px;
  justify-content: center;
}

.arkb-scene {

}

.arkb-icon {
  width:20px;
  height:20px;
  margin-right: 4px;
}

.arkb-form {
  display: flex;
  margin-top: 12px;
}

.arkb-row {
  flex-basis: 100%;
}

.arkb-submit {
  margin-left: 12px;
  margin-bottom: 1.34375em;
}
