.row {
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  align-items: center;
  display: flex;
}
.col {
  padding: 3px;
}

.col-sm {
  width: 10%;
}

.col-md {
  width: 15%;
}

.header {
  background: #bbbbbb;
}

.data {
  justify-content: center;
  width: 100%;
}

.arkb-card-layout-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 16px;
}

.arkb-card-layout {
  flex-basis: 48%;
}

.arkb-row {
  flex-basis: 98%;
}

@media screen and (max-width: 960px) {
  .arkb-card-layout {
    flex-basis: 80%;
  }

  .arkb-row {
    flex-basis: 80%;
  }
}

@media screen and (max-width: 750px) {
  .arkb-card-layout {
    flex-basis: 100%;
  }

  .arkb-row {
    flex-basis: 100%;
  }
}





:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #0f1962;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.card svg.material-icons path {
  fill: #888;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card.highlight-card span {
    margin-left: 72px;
  }

}

@media screen and (max-width: 575px) {
}

mat-grid-tile {
  background: lightblue;
}
