<!-- Toolbar -->
<div class="toolbar" role="banner">

  <svg style="width:48px;height:48px; margin-left: 32px; margin-right: 16px; color: #888888" viewBox="0 0 24 24">
    <path fill="currentColor"
          d="M12,8C12,8 22,8 22,11C22,11 22.09,14.36 21.75,14.25C21,11 12,11 12,11C12,11 3,11 2.25,14.25C1.91,14.36 2,11 2,11C2,8 12,8 12,8M12,12C20,12 20.75,14.25 20.75,14.25C19.75,17.25 19,18 15,18C12,18 13,16.5 12,16.5C11,16.5 12,18 9,18C5,18 4.25,17.25 3.25,14.25C3.25,14.25 4,12 12,12Z"/>
  </svg>
  <span>Xperisight</span>
  <div class="spacer"></div>
</div>

<!-- Content -->
<div class="content" role="main">

  <div class="data" *ngIf="serverConnection">

    <div class="arkb-card-layout-container">
      <app-participant-list class="arkb-row"></app-participant-list>
      <div *ngFor="let participantId of participantIds" class="arkb-card-layout">
        <app-info-card participantId="{{participantId}}"></app-info-card>
      </div>
    </div>


    <div *ngIf="participantIds.length == 0" align="center">
      <mat-progress-spinner style="margin-top: 30px; margin-bottom: 16px;" mode="indeterminate"
                            diameter="36"></mat-progress-spinner>
      <p align="center">Waiting for new Session.</p>
    </div>
  </div>

  <div *ngIf="!serverConnection" align="center">
    <svg style="width:36px;height:36px; margin-top: 30px;" viewBox="0 0 24 24">
      <path fill="red"
            d="M4,1H20A1,1 0 0,1 21,2V6A1,1 0 0,1 20,7H8.82L6.82,5H7V3H5V3.18L3.21,1.39C3.39,1.15 3.68,1 4,1M22,22.72L20.73,24L19.73,23H4A1,1 0 0,1 3,22V18A1,1 0 0,1 4,17H13.73L11.73,15H4A1,1 0 0,1 3,14V10A1,1 0 0,1 4,9H5.73L3.68,6.95C3.38,6.85 3.15,6.62 3.05,6.32L1,4.27L2.28,3L22,22.72M20,9A1,1 0 0,1 21,10V14A1,1 0 0,1 20,15H16.82L10.82,9H20M20,17A1,1 0 0,1 21,18V19.18L18.82,17H20M9,5H10V3H9V5M9,13H9.73L9,12.27V13M9,21H10V19H9V21M5,11V13H7V11H5M5,19V21H7V19H5Z"/>
    </svg>
    <p align="center">No server connection.</p>
  </div>


</div>
