<div class="arkb-chip-row">
  <mat-chip-list>
  <div *ngFor="let participantId of participantIds">
    <mat-chip class="arkb-chip" *ngIf="participantId">{{participantId | truncate : 12}}</mat-chip>
  </div>
  </mat-chip-list>
</div>
