.arkb-inline-centered {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.arkb-icon {
  width:24px;
  height:24px;
  margin-right: 4px;
}

.arkb-row {
  display: flex;
  flex-basis: 100%;
  flex-wrap: nowrap;
}

.arkb-col {
  display: flex;
  margin-right: 4px;
}

.arkb-item {
  display: flex;
  flex-basis: auto;
}

.arkb-green {
  color: #006100;
  background: #c6efce;
}

.arkb-red {
  color: #9c0006;
  background: #ffc7ce;
}
