<div *ngIf="participant && participant.visible">
  <mat-card [class.needs-help]="participant.experimentStatus.needsHelp" [class.is-finished]="participant.experimentStatus.scene === 'ThankYou' && participant.experimentStatus.timeInCurrentSceneInSeconds > 240">
    <app-experiment-info [participant]="participant"></app-experiment-info>
    <app-eye-tracking-info [participant]="participant" *ngIf="participant && participant.experimentStatus && participant.experimentStatus.useEyeTracking || (participant.experimentStatus.deviceModel && participant.experimentStatus.deviceModel.startsWith('HoloLens'))"></app-eye-tracking-info>
    <app-scene-management [participant]="participant"></app-scene-management>
  </mat-card>
</div>
