.needs-help {
  animation: blink 1s infinite;
}

@keyframes blink {
  to {
    background: #ff8d8d;
  }
}

.is-finished {
  animation: blink-finished 1s infinite;
}

@keyframes blink-finished {
  to {
    background: #8dffa0;
  }
}
